# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android related
*.apk
*.aar
*.jks
*.keystore

# iOS related
Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcscmblueprint
*.xcassets

# VS Code settings
.vscode/

# IntelliJ related
.idea/
*.iml

# Mac related
.DS_Store

# Windows related
Thumbs.db

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Others
*.log
